<fieldset id="fs-type">
    <div class="max-w-7xl mx-auto pt-10 px-4 sm:px-6 lg:px-32">
        <div class="sm:flex sm:flex-col sm:align-center">
            <h1 class="text-5xl font-extrabold text-gray-900 sm:text-center">Services disponibles</h1>
            <p class="mt-5 text-xl text-gray-500 sm:text-center">Commencez par choisir le service qui correspond à votre besoin</p>
        </div>
        <div class="mt-12 space-y-4 sm:mt-16 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-3">
            <div class="border border-gray-200 rounded-lg shadow-md divide-y divide-gray-200 bg-white">
                <div class="p-6">
                    <h2 class="text-lg leading-6 font-medium text-gray-900">Serveur Web</h2>
                    <p class="mt-4 text-sm text-gray-500">Un serveur sécurisé permettant d'héberger votre site</p>
                    <p class="mt-12 text-center">
                        <span class="text-4xl font-extrabold text-gray-900">12€</span>
                        <span class="text-base font-medium text-gray-500">/mois</span>
                    </p>
                    <a href="#" class="mt-10 block w-full bg-gray-800 border border-transparent rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900 btn-choisir">Choisir</a>
                </div>
            </div>

            <div class="border border-gray-200 rounded-lg shadow-md divide-y divide-gray-200 bg-white">
                <div class="p-6">
                    <h2 class="text-lg leading-6 font-medium text-gray-900">Serveur base de données</h2>
                    <p class="mt-4 text-sm text-gray-500">Un serveur de base de données sécurisé permettant d'héberger toutes vos données</p>
                    <p class="mt-12 text-center">
                        <span class="text-4xl font-extrabold text-gray-900">8€</span>
                        <span class="text-base font-medium text-gray-500">/mois</span>
                    </p>
                    <a href="#" class="mt-10 block w-full bg-gray-800 border border-transparent rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900 btn-choisir">Choisir</a>
                </div>
            </div>

            <div class="border border-gray-200 rounded-lg shadow-md divide-y divide-gray-200 bg-white">
                <div class="p-6">
                    <h2 class="text-lg leading-6 font-medium text-gray-900">Serveur de fichiers</h2>
                    <p class="mt-4 text-sm text-gray-500">Un serveur sécurisé permettant d'herberger l'ensemble de vos fichiers</p>
                    <p class="mt-12 text-center">
                        <span class="text-4xl font-extrabold text-gray-900">10€</span>
                        <span class="text-base font-medium text-gray-500">/mois</span>
                    </p>
                    <a href="#" class="mt-10 block w-full bg-gray-800 border border-transparent rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900 btn-choisir">Choisir</a>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset id="fs-difficulty" style="display:none">
    <form action="/createService" method="post">
        <div class="max-w-7xl mx-auto pt-4 px-4 sm:px-6 lg:px-26">
            <div class="bg-white shadow overflow-hidden sm:rounded-md p-5">
                <form class="space-y-8 divide-y divide-gray-200">
                    <input hidden name="userid" value="<%= userid %>" />
                    <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
                        <div>
                            <div>
                                <h3 class="text-lg leading-6 font-medium text-gray-900">
                                    Informations générales
                                </h3>
                                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                    Remplissez les informations générales concernant votre serveur
                                </p>
                            </div>

                            <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
                                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                    <label for="name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                        Nom du service
                                    </label>
                                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                                        <div class="max-w-lg flex rounded-md shadow-sm">
                                            <input type="text" name="nomService" id="nomService" class="flex-1 block w-full focus:ring-gray-500 focus:border-gray-500 min-w-0 rounded sm:text-sm border-gray-300">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="form-avance" class="pt-8 space-y-6 sm:pt-10 sm:space-y-5 border-0" style="display:none">
                        <div>
                            <div>
                                <h3 class="text-lg leading-6 font-medium text-gray-900">
                                    Avancé
                                </h3>
                                <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                    Remplissez les informations avancées
                                </p>
                            </div>

                            <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
                                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                    <label for="nomDomaine" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                        Nom de domaine
                                    </label>
                                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                                        <div class="max-w-lg flex rounded-md shadow-sm">
                                    <span class="inline-flex items-center px-3 rounded-l-md border border-r-0 border-gray-300 bg-gray-50 text-gray-500 sm:text-sm">
                                      https://
                                    </span>
                                            <input type="text" name="nomDomaine" id="nomDomaine" autocomplete="nomDomaine" class="flex-1 block w-full focus:ring-gray-500 focus:border-gray-500 min-w-0 rounded-none rounded-r-md sm:text-sm border-gray-300">
                                        </div>
                                    </div>
                                </div>

                                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                    <label for="versionPhp" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                        Version de PHP
                                    </label>
                                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                                        <div class="max-w-lg flex rounded-md shadow-sm">
                                            <select id="versionPhp" name="versionPhp" class="max-w-lg block focus:ring-gray-500 focus:border-gray-500 w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                                                <option value="8.0">PHP 8.0</option>
                                                <option value="7.0">PHP 7.0</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
                            <div>
                                <div>
                                    <h3 class="text-lg leading-6 font-medium text-gray-900">
                                        Informations FTP
                                    </h3>
                                    <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                        Remplissez les informations générales concernant le dépot de vos fichiers
                                    </p>
                                </div>

                                <div class="mt-6 sm:mt-5 space-y-6 sm:space-y-5">
                                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:border-t sm:border-gray-200 sm:pt-5">
                                        <label for="name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                            Nom d'utilisateur
                                        </label>
                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                            <div class="max-w-lg flex rounded-md shadow-sm">
                                                <input type="text" name="userftp" id="nomService" class="flex-1 block w-full focus:ring-gray-500 focus:border-gray-500 min-w-0 rounded sm:text-sm border-gray-300">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-6 sm:mt-5">
                                    <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5">
                                        <label for="name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">
                                            Mot de passe
                                        </label>
                                        <div class="mt-1 sm:mt-0 sm:col-span-2">
                                            <div class="max-w-lg flex rounded-md shadow-sm">
                                                <input type="password" name="mdpftp" id="nomService" class="flex-1 block w-full focus:ring-gray-500 focus:border-gray-500 min-w-0 rounded sm:text-sm border-gray-300">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="flex justify-start">
                            <button id="btnAvance" type="button" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-700 hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                                <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd" />
                                </svg>
                                Afficher les options avancées
                            </button>

                            <button id="btnMoins" type="button" style="display:none" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                                Afficher moins d'options
                            </button>

                        </div>
                        <div class="flex justify-end">
                            <button id="btnRetour" type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                                Retour
                            </button>
                            <button id="btnSave" type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-600 hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                                Enregistrer
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </form>
</fieldset>


<script>
    jQuery(function () {
        // 1er choix
        $('.btn-choisir').click(function() {
           $('#fs-type').hide();
           $('#fs-difficulty').show();
        });

        // Retour au 1er choix
        $('#btnRetour').click(function () {
           $('#fs-type').show();
           $('#fs-difficulty').hide();

           // Clear fieldset difficulty
            $('#fs-difficulty input, select').each(function() {
               $(this).val("");
            });

            // Hide avancé
            $('#btnMoins').click();
        });

        // Affichage options avancées
        $('#btnAvance').click(function () {
           $('#form-avance').show();
           $('#btnAvance').hide();
           $('#btnMoins').show();
        });

        // Cache les options avancées
        $('#btnMoins').click(function () {
           $('#form-avance').hide();
           $('#btnAvance').show();
           $('#btnMoins').hide();
        });
    });
</script>