<div class="flex flex-col min-w-0 flex-1 overflow-hidden">
    <div class="flex-1 relative z-0 flex overflow-hidden">
        <main class="flex-1 relative z-0 overflow-y-auto focus:outline-none xl:order-last">
            <!-- Breadcrumb -->
            <nav class="flex items-start px-4 py-3 sm:px-6 lg:px-8 xl:hidden" aria-label="Breadcrumb">
                <a href="#" class="inline-flex items-center space-x-3 text-sm font-medium text-gray-900">
                    <svg class="-ml-2 h-5 w-5 text-gray-400" x-description="Heroicon name: solid/chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path>
                    </svg>
                    <span>Services</span>
                </a>
            </nav>

            <article class="bg-white">
                <!-- Profile header -->
                <div>
                    <div class="max-w-5xlS px-4 sm:px-6 lg:px-8 pt-20">
                        <div class="-mt-12 sm:-mt-16 sm:flex sm:items-end sm:space-x-5">
                            <div class="flex">
                                <img class="h-16 w-16 rounded-full ring-4 ring-white" src="/assets/img/web.png" alt="">
                            </div>
                            <div class="mt-6 sm:flex-1 sm:min-w-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1">
                                <div class="sm:hidden 2xl:block mt-6 min-w-0 flex-1">
                                    <h1 class="text-2xl font-bold text-gray-900 truncate" id="nomService">
                                    </h1>
                                </div>
                                <div class="mt-6 flex flex-col justify-stretch space-y-3 sm:flex-row sm:space-y-0 sm:space-x-4">
                                    <a id="btnGoToService" class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-700 hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="-ml-1 mr-2 h-5 w-5 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
                                        </svg>
                                        <span>Accéder au service</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-6 px-4 sm:px-6 lg:px-8">
                    <!-- This example requires Tailwind CSS v2.0+ -->
                    <div class="bg-white overflow-hidden sm:rounded-md w-full">
                        <ul role="list" class="w-full">
                            <li class="my-4 mb-12">
                                <a href="#" class="block hover:bg-gray-50">
                                    <div class="px-4 py-4 sm:px-6 border-b border-gray-300">
                                        <div class="flex items-center justify-between">
                                            <p class="text-lg font-medium text-black-600 truncate">
                                                Release Note pour Apache 2.4.7
                                                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
                                                  Nouveau
                                                </span>
                                            </p>
                                            <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                                                <button type="button" class="inline-flex  items-center justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-green-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-green-500">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                                                    </svg>
                                                    &nbsp; Mettre à jour
                                                </button>
                                            </div>
                                        </div>
                                        <div class="mt-2 sm:flex sm:justify-between">
                                            <div class="sm:flex">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="px-4 py-4 sm:px-6 border-b border-gray-300">
                                        <p class="text-md font-medium text-black-600 truncate">
                                            Nouvelles fonctionnalités
                                        </p>
                                        <p class="text-sm font-medium mt-3 text-gray-600">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minima sequi recusandae, porro maiores officia assumenda aliquam laborum ab aliquid veritatis impedit odit adipisci optio iste blanditiis facere. Totam, velit.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minima sequi recusandae, porro maiores officia assumenda aliquam laborum ab aliquid veritatis impedit odit adipisci optio iste blanditiis facere. Totam, velit.
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li class="my-4 mb-12">
                                <a href="#" class="block hover:bg-gray-50">
                                    <div class="px-4 py-4 sm:px-6 border-b border-gray-300">
                                        <div class="flex items-center justify-between">
                                            <p class="text-lg font-medium text-black-600 truncate">
                                                Release Note pour PHP 8.1
                                                <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
                                                  Nouveau
                                                </span>
                                            </p>
                                            <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
                                                <button type="button" class="inline-flex  items-center justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-green-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-green-500">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                                                    </svg>
                                                    &nbsp; Mettre à jour
                                                </button>
                                            </div>
                                        </div>
                                        <div class="mt-2 sm:flex sm:justify-between">
                                            <div class="sm:flex">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="px-4 py-4 sm:px-6 border-b border-gray-300">
                                        <p class="text-md font-medium text-black-600 truncate">
                                            Nouvelles fonctionnalités
                                        </p>
                                        <p class="text-sm font-medium mt-3 text-gray-600">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minima sequi recusandae, porro maiores officia assumenda aliquam laborum ab aliquid veritatis impedit odit adipisci optio iste blanditiis facere. Totam, velit.
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minima sequi recusandae, porro maiores officia assumenda aliquam laborum ab aliquid veritatis impedit odit adipisci optio iste blanditiis facere. Totam, velit.
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
        </main>
        <aside class="hidden xl:order-first xl:flex xl:flex-col flex-shrink-0 w-96 border-r border-gray-200">
            <div class="px-6 pt-6 pb-4">
                <h2 class="text-lg font-medium text-gray-900">Services</h2>
                <p class="mt-1 text-sm text-gray-600">
                    Nombre de services actifs : <strong><%=services.length%></strong>
                </p>
                <form class="mt-6 flex space-x-4" action="#">
                    <div class="flex-1 min-w-0">
                        <label for="search" class="sr-only">Search</label>
                        <div class="relative rounded-md shadow-sm">
                            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                <svg class="h-5 w-5 text-gray-400" x-description="Heroicon name: solid/search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                                </svg>
                            </div>
                            <input type="search" name="search" id="search" class="focus:ring-gray-500 focus:border-gray-500 block w-full pl-10 sm:text-sm border-gray-300 rounded-md" placeholder="Rechercher">
                        </div>
                    </div>
                </form>
            </div>
            <!-- Directory list -->
            <nav class="flex-1 min-h-0 overflow-y-auto" aria-label="Directory">

                <div class="relative">
                    <ul role="list" class="relative z-0 divide-y divide-gray-200" id="liste">
                        <% for (let i = 0; i < services[0].length; i++) { %>
                        <li>
                            <div class="relative px-6 py-5 flex items-center space-x-3 hover:bg-gray-50 service-list <%= i === 0 ? 'bg-white' : '' %>">
                                <input class="idService" type="hidden" value="<%=services[0][i].id%>" />
                                <div class="flex-shrink-0">
                                    <img class="h-10 w-10 rounded-full" src="/assets/img/web.png" alt="">
                                </div>
                                <div class="flex-1 min-w-0">
                                    <a href="#" class="focus:outline-none">
                                        <!-- Extend touch target to entire panel -->
                                        <span class="absolute inset-0" aria-hidden="true"></span>
                                        <p class="text-sm font-medium">
                                            <span class="text-gray-900">
                                                <%=services[0][i].nom%>
                                            </span>
                                            <% if (i == 0) { %>
                                                <span class="ml-4 inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-red-600 text-white   ">
                                                    2
                                                </span>
                                            <% } %>
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </nav>
        </aside>
    </div>
</div>

<script>
    updateRightPanel();

    $('.service-list').click(function() {
        $('.service-list.bg-white').removeClass('bg-white')
        $(this).addClass('bg-white');
        updateRightPanel();
    });

    function updateRightPanel() {
        let idService = $('#liste  li .bg-white').find('.idService').val();
        let params = "id=" + idService;

        $.ajax({
            url: 'http://localhost:3000/getServiceById?' + params,
            type: 'GET',
            contentType: "application/json; charset=utf-8",
            success: function (service) {
                $('#nomService').text(service.nom);
                $('#btnGoToService').attr('href', '/services/editService?id=' + service.id)
                console.log(service.nom)
            },
            error: function (response) {
                console.log(response.error);
            }
        });

    }
</script>